<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 告诉 MyBatis到哪里去找映射文件 -->
	 <mappers>
        <mapper resource="easymall/mybatis/UserMapper.xml"/>
        <mapper resource="easymall/mybatis/ProductsMapper.xml"/>
        <mapper resource="easymall/mybatis/CartMapper.xml"/>
        <mapper resource="easymall/mybatis/OrderMapper.xml"/>
        <mapper resource="easymall/mybatis/OrderItemMapper.xml"/>
 	</mappers>
 	
 	
 	
</configuration>